@import url(https://fonts.googleapis.com/css2?family=Playpen+Sans);



.main-container {
    font-family: 'Playpen Sans', sans-serif;
    background: linear-gradient(
        to right,
        rgba(0,50,0,1) 20%,
        rgba(0,50,80,1) 30%,
        rgba(0,50,160,1) 70%,
        rgba(0,50,240,1) 80%
    );
    color: rgba(0,0,0,.1);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 500% auto;
    animation: background-blend 3s ease-in-out infinite alternate;

    display:flex;
    flex-flow: column;
    height: 80vh;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.presentation-text {

    font-size: min(3vw, 12px);

}

h1 {
    margin-top: 2px;
    font-size: min(20vw, 100px);
}
h2 {

    font-size: min(5vw, 25px);
}

@keyframes background-blend {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}